@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Mulish:wght@400;600;700;800&family=Open+Sans&family=Roboto&display=swap');


$background-color: #131313;
$container: #191919;
$light-span: #94FFAB;
$dark-span: #44C360;
$cursor-color: #C5FFD1;
$title: #54CF6F;
$incon: 'Inconsolata', monospace;
$mulish: 'Mulish', sans-serif;
$open: 'Open Sans';

*, *::after, *::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: none;
}

body {
    background: $background-color;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #313131;
    // background: $light-span;
    border-radius: 100px;

}

::-webkit-scrollbar-track {
    background: $background-color;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: #212121;
    height: 100px;
    padding: 0 100px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 4;
    backdrop-filter: blur(5px);
    overflow: hidden;
    .nav {
        display: none;
    }
    img {
        width: 50px;
        animation: fadeIn1 1.4s;
    }
    li {
        list-style: none;
        display: inline;
        padding: 0 20px;
        animation: fadeIn2 1.4s;
        :hover {
            position: relative;
            z-index: 4;
        }
    }
    a {
        text-decoration: none;
        color: $dark-span;
        font-family: $incon;
        font-size: 15px;
        
        // img:hover {
        //     color: white;
        //     width: 60px;
        //     margin-right: -10px;
        // }
        :hover {
            font-size: 18px;
        }
    }
    span {
        color: $light-span;
    }

    .resume-button {
        animation: fadeIn3 1.4s;
        border: 1px solid $light-span;
        border-radius: 8px;
        padding: 5px 15px;
        :hover{
            color: $light-span;
            font-size: 16px;
        }
    }
    @keyframes fadeIn1 {
        0% { opacity: 0; }
        25% { opacity: 0; }
         100% { opacity: 1; }
    }
    @keyframes fadeIn2 {
        0% { opacity: 0;}
        50% {opacity: 0;}
         100% { opacity: 1;}
    }
    @keyframes fadeIn3 {
        0% { opacity: 0;}
        75% {opacity: 0;}
         100% { opacity: 1;}
    }
}


.header-background {
    position: fixed;
    // background: #212121;
    background: $background-color;
    opacity: 90%;
    height: 100px;
    width: 100%;
    top: 0;
    z-index: 1;
}

.main-content {
    position: relative;
    max-width: 100vw;
    overflow: hidden;
    // background-color: green;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container {
    // background-color: #313131;
    text-align: center;
    width: 800px;
    height: 340px;
    position: relative;
    top: -12vh;
    font-family: $mulish;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .main-text{
        width: 100vw;
        height: 200px;
        text-align: left;
        position: absolute;
        left: calc(50% - 290px);
        top: calc(50% - 100px);
        animation: fadeInMain 2.7s;
        // background-color: red;
        h1 {
            font-size: 70px;
            line-height: 40px;
        }

        .name{
            color: $light-span;
            letter-spacing: -4.3px;
        }
        .occ{
            position: absolute;
            top: 44%;
            color: $title;
            letter-spacing: 0;
            // animation: fadeIn2 2s;
        }
        @keyframes fadeInMain {
            0% { opacity: 0; }
            60% { opacity: 0; }
             100% { opacity: 1; }
        }
    }
    .rotate {
        animation: fadeInMain 2.7s;
        position: absolute;
        left: calc(20px);
        top: 150px;
        p {
            font-family: $incon;
            transform: rotate(270deg);
            color: $light-span;
            font-size: 20px;
        }
        
    }

    .contact-button {
        animation: fadeInMain 2.7s;
        width: 160px;
        padding: 12px;
        background: transparent;
        border: 2px solid $light-span;
        border-radius: 5px;
        font-size: 20px;
        font-family: $incon;
        color: $dark-span;
        position: absolute;
        top: 270px;
        cursor: pointer;
        :hover{
            font-size: 22px;
        }
        a{
            color:#54CF6F;
            text-decoration: none;
        }
    }
}

.down-arrow {
    width: 60px;
    position: fixed;
    left: 100px;
    bottom: 5vh;
    animation: fadeInArrow 3.5s;
    @keyframes fadeInArrow {
        0% { opacity: 0; }
        95% { opacity: 0; }
         100% { opacity: 1; }
    }
}
.down-arrow:hover {
    width: 64px;
    left: 98px;
    bottom: 4.8vh;
}

.social {
    animation: fadeInArrow 3.7s;
    z-index: 3;
    position: fixed;
    right: 80px;
    bottom: 0;
    width: 24px;
    text-align: center;
    // background-color: black;
    .social-links {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    img {
        width: 24px;
        padding: 10px 0;
    }

    img:hover {
        width: 28px;
    }
    .social-line {
        margin: auto;
        z-index: 1;
        background: $light-span;
        width: 1.5px;
        height: 160px;
        margin-top: 10px;
    }
}

.container {
    padding: 20px 60px;
    position: absolute;
    height: 600px;
    background: $container;
    h1 {
        color: $light-span;
        font-size: 40px;
        font-family: $mulish;
    }
    span {
        font-family: $incon;
        font-size: 40px;
    }
    p {
        font-family: $open;
    }
}

#about {
    display: flex;
    left: 25%;
    width: 50%;
    top: 120vh;
    .about-1 {
        width: 50%;
        p{
            color: white;
            font-size: 18px;
        }
    }

    .image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: #44C360;
        width: 50%;
        position: relative;
    }
    .about-image {
        width: 330px;
        height: 330px;
        background-color: #D9D9D9;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 50px;
        text-align: center;
        p{
            color: black;
        }
    }
}

#skills {
    display: flex;
    left: 35%;
    width: 30%;
    top: 225vh;
    color: white;
    display: block;
    height: 500px;
    .skills-container{
        display: flex;
        justify-content: space-between;
    }
    .skills1{
        // background-color: blue;
        width: 45%;
        text-align: left;
    }
    .skills2{
        width: 50%;
        position: relative;
        left: 20px;
    }
    h3 {
        font-family: $open;
    }
    li{
        font-family: $incon;
        list-style: square;
        position: relative;
        left: -10%;
        line-height: 40px;
        font-size: 16px;
    }
    ul{
        position: relative;
        top: 10%;
    }
    .skills-line {
        width: 1px;
        background: $dark-span;
        height: 280px;
        top: 140px;
        position: absolute;
        left: 50%;
    }
}

#work {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 325vh;
    height: 500px;
    h3{
        color: white;
    }
    .work-container {
        display: flex;
        justify-content: space-around;
        span{
            color: $dark-span;
            font-size: 14px;
        }
        p{
            color: white;
            font-size: clamp(10px, 1vw, 20px);
        }
        a{
            font-family: $incon;
            color: $dark-span;
            text-decoration: none;
            font-size: 18px;
        }
    }
    #work-cont {
        position: relative;
        padding: 16px;
        background: $background-color;
        width: clamp(14vw, 5vw, 30vw);
        height: 28vh;
        line-height: 24px;
        font-size: 18px;
        img{
            position: absolute;
            width: 22px;
            top: 5px;
            right: 5px;
        }
    }
}

#contact {
    position: relative;
    width: 50%;
    left: 25%;
    top: 310vh;
    height: 500px;
    h3 {
        color: white;
    }
    h2{
        position: relative;
        top: 30%;
        color: white;
        span {
            color: $dark-span;
            font-family: $mulish;
        }
        a{
            text-decoration-color: $dark-span;
        }
    }
    .contact-social-links{
            display: flex;
            align-items: center;
            flex-direction: row;
        img {
            position: absolute;
            width: 80px;
            padding: 10px 0;
        }
        .s2, .s3, .s4 {
           margin-left: 170px
        }
    }
}

.space {
    width: 100px;
    height: 100px;
    // background-color: #44C360;
    position: absolute;
    left: calc(50% - 50px);
}

#about1 {
    top: 100%;
}
#skills1 {
    top: 200%;
}
#work1 {
    top: 300%;
}
#contact1 {
    top: 400%;
}

.footer {
    padding: 20px 60px;
    position: absolute;
    height: 600px;
    // background: $container;
    pointer-events: none;
    width: 100%;
    top: 480vh;
    height: 200px;
}

.cursor-part {
    opacity: 100%;
    z-index: 2;
    height: 10px;
    width: 10px;
    border-radius: 30px;
    background-color: $cursor-color;
    position: fixed;
    left: 0;
    pointer-events: none;
}



.nav-full {
    display: none;
}
.nav-links {
    position: fixed;
    z-index: 500;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    // opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    ul {
        span {
            font-family: $incon;
        }
        li{
            list-style: none;
            line-height: 80px;
            position: relative;
            left: -12px;
        }
        a{
            color: white;
            text-decoration: none;
            font-size: 24px;
            font-family: $mulish;

        }
    }
}

.close {
    position: fixed;
    z-index: 501;
    right: 40px;
    top: 40px;
    img {
        width: 30px;
    }
}

@media (max-width: 1400px){
    .container {
        padding: 20px 60px;
        position: absolute;
        background: $container;
        h1 {
            color: $light-span;
            font-size: 40px;
            font-family: $mulish;
        }
        span {
            font-family: $incon;
            font-size: 40px;
        }
        p {
            font-family: $open;
        }
    }
    #about {
        display: flex;
        left: 10vw;
        width: 80vw;
        top: 120vh;
        .about-1 {
            width: 50%;
            p{
                color: white;
                font-size: 18px;
            }
        }
    
        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: #44C360;
            width: 50%;
            position: relative;
        }
        .about-image {
            width: 330px;
            height: 330px;
            background-color: #D9D9D9;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 50px;
            text-align: center;
            p{
                color: black;
            }
        }
    }
    #skills {
        display: flex;
        left: 25vw;
        width: 50vw;
        top: 225vh;
        color: white;
        display: block;
        height: 500px;
        .skills-container{
            display: flex;
            justify-content: space-between;
        }
        .skills1{
            // background-color: blue;
            width: 45%;
            text-align: left;
        }
        .skills2{
            width: 50%;
            position: relative;
            left: 20px;
        }
        h3 {
            font-family: $open;
        }
        li{
            font-family: $incon;
            list-style: square;
            position: relative;
            left: -10%;
            line-height: 40px;
        }
        ul{
            position: relative;
            top: 10%;
        }
        .skills-line {
            width: 1px;
            background: $dark-span;
            height: 280px;
            top: 140px;
            position: absolute;
            left: 50%;
        }
    }
    #work {
        width: 80vw;
        left: 10vw;
        top: 325vh;
        height: 560px;
        .work-container {
            span{
                color: $dark-span;
                font-size: 14px;
            }
            p{
                font-size: 20px;
            }
            a{
                font-size: 18px;
            }
        }
        #work-cont {
            position: relative;
            padding: 16px;
            background: $background-color;
            width: 23vw;
            height: 300px;
            line-height: 24px;
            font-size: 18px;
            img{
                position: absolute;
                width: 30px;
                top: 5px;
                right: 5px;
            }
        }
    }
    #contact {
        .contact-social-links {
            img {
                width: 60px;
            }
            .s2, .s3, .s4 {
                margin-left: 100px
             }
        }
    }
}

@media (max-width: 1200px){
    #contact {
        h2 span{
            font-size: 20px;
        }
    }
}

@media (max-width: 1000px){
    #work {
        width: 80vw;
        left: 10vw;
        top: 325vh;
        height: 520px;
        padding: 10px;
        .work-container {
            span{
                color: $dark-span;
                font-size: 14px;
            }
            p{
                font-size: 16px;
            }
            a{
                font-size: 14px;
            }
        }
        #work-cont {
            position: relative;
            padding: 16px;
            background: $background-color;
            width: 23vw;
            height: 300px;
            line-height: 24px;
            font-size: 18px;
            img{
                position: absolute;
                width: 30px;
                top: 5px;
                right: 5px;
            }
        }
    }
    #contact {
        .contact-social-links {
            img {
                width: 40px;
            }
            .s2, .s3, .s4 {
                margin-left: 60px
             }
        }
    }
    .arrow {
        display: none;
    }
}

@media (max-width: 880px) {

    .header {
        padding:0 15px;
        display: flex;
        position: fixed;
        .nav {
            display: block;
        }

        .links {
            display: none;
        }
        .resume-button {
            display: none;
        }
    }
    .main-content {
        position: relative;
        max-width: 80vw;
        left: 10vw;
        overflow: hidden;
        // background-color: green;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-container {
        text-align: center;
        width: 100vw;
        height: 340px;
        position: relative;
        top: -12vh;
        font-family: $mulish;
        display: flex;
        justify-content: left;
        align-items: center;
        .main-text{
            width: 100vw;
            height: 300px;
            text-align: left;
            position: absolute;
            left: 5%;
            top: 0;
            // background-color: red;
            h1 {
                font-size: 100px;
                line-height: 100px;
            }
    
            .name{
                color: $light-span;
                letter-spacing: -4.3px;
                position: absolute;
                top: -30%;
            }
            .occ{
                position: relative;
                top: 40%;
                color: $title;
                letter-spacing: 0;
                // animation: fadeIn2 2s;
            }
            }
            .rotate {
                position: absolute;
                left: 40px;
                margin-top: -250px;
                p {
                    font-family: $incon;
                    transform: rotate(0deg);
                    color: $light-span;
                    font-size: 30px;
                }
                
            }
        
            .contact-button {
                position: absolute;
                margin-top: 140px;
                left: 40px;
            }
    }
    #about {
            display: flex;
            flex-direction: column;
            left: 10vw;
            width: 80vw;
            top: 120vh;
            height: 1100px;
            .about-1 {
                width: 100%;
                p{
                    color: white;
                    font-size: 22px;
                }
            }
        
            .image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                // background-color: #44C360;
                width: 100%;
                position: relative;
                top: 80px;
            }
            .about-image {
                width: 400px;
                height: 400px;
                background-color: #D9D9D9;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 50px;
                text-align: center;
                p{
                    color: black;
                }
            }
    }
    #skills {
        display: flex;
        left: 10vw;
        width: 80vw;
        top: 260vh;
        color: white;
        display: block;
        height: 500px;
        h3 {
            font-size: 20px;
        }
        li {
            font-size: 22px;
        }
    }

    #work {
        width: 80vw;
        left: 10vw;
        top: 330vh;
        height: 1300px;
        padding: 15px;

        .work-container {
            display: flex;
            flex-direction: column;
            span{
                color: $dark-span;
                font-size: 24px;
            }
            p{
                font-size: 24px;
            }
            a{
                font-size: 24px;
            }
        }
        #work-cont {
            position: relative;
            padding: 16px;
            background: $background-color;
            width: 80%;
            left: 10%;
            height: 300px;
            line-height: 34px;
            font-size: 18px;
            margin-top: 40px;
            img{
                position: absolute;
                width: 30px;
                top: 5px;
                right: 5px;
            }
        }
    }   
    #contact {
        top: 370vh;
    } 
    .social {
        right: 26px;
    }
    .space {
        width: 100px;
        height: 100px;
        // background-color: #44C360;
        position: absolute;
        left: calc(50% - 50px);
    }
    
    #about1 {
        top: 110%;
    }
    #skills1 {
        top: 240%;
    }
    #work1 {
        top: 320%;
    }
    #contact1 {
        top: 500%;
    }
    .cursor-part {
        display:none;
    }
}

@media (max-width: 750px) {
    .main-container {
        text-align: center;
        width: 100vw;
        height: 340px;
        position: relative;
        top: -12vh;
        font-family: $mulish;
        display: flex;
        justify-content: left;
        align-items: center;
        .main-text{
            width: 0vw;
            height: 300px;
            text-align: left;
            position: absolute;
            left: 5%;
            top: 0;
            // background-color: red;
            h1 {
                font-size: 100px;
                line-height: 100px;
            }
    
            .name{
                color: $light-span;
                letter-spacing: -4.3px;
                position: absolute;
                top: -50%;
            }
            .occ{
                position: relative;
                top: 50%;
                color: $title;
                letter-spacing: 0;
                // animation: fadeIn2 2s;
            }
            }
            .rotate {
                position: absolute;
                left: 40px;
                margin-top: -300px;
                p {
                    font-family: $incon;
                    transform: rotate(0deg);
                    color: $light-span;
                    font-size: 30px;
                }
                
            }
        
            .contact-button {
                position: absolute;
                margin-top: 180px;
                left: 40px;
            }
    }
    #about {
        display: flex;
        flex-direction: column;
        left: 10vw;
        width: 80vw;
        top: 120vh;
        height: 1100px;
        .about-1 {
            width: 100%;
            p{
                color: white;
                font-size: 22px;
            }
        }
    
        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: #44C360;
            width: 100%;
            position: relative;
            top: 80px;
        }
        .about-image {
            width: 250px;
            height: 250px;
            background-color: #D9D9D9;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 50px;
            text-align: center;
            p{
                color: black;
            }
        }
}
}

@media (max-width: 650px) {
    .main-container {

        .main-text{

            left: 0;
            h1 {
                font-size: 80px;
                line-height: 80px;
            }
    
            .name{
                color: $light-span;
                letter-spacing: -4.3px;
                position: absolute;
                top: -30%;
            }
            .occ{
                position: relative;
                top: 50%;
                color: $title;
                letter-spacing: 0;
                // animation: fadeIn2 2s;
            }
            }
            .rotate {
                position: absolute;
                left: 10px;
                margin-top: -250px;
                p {
                    font-family: $incon;
                    transform: rotate(0deg);
                    color: $light-span;
                    font-size: 30px;
                }
                
            }
        
            .contact-button {
                position: absolute;
                margin-top: 120px;
                left: 10px;
            }
    }
    #about {
        display: flex;
        flex-direction: column;
        left: 10vw;
        width: 80vw;
        top: 120vh;
        height: 900px;
        .about-1 {
            width: 100%;
            h1{
                font-size: 30px;
            }
            p{
                color: white;
                font-size: 16px;
            }
        }
    
        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: #44C360;
            width: 100%;
            position: relative;
            top: 80px;
        }
}
#skills {
    display: flex;
    left: 10vw;
    width: 80vw;
    top: 260vh;
    color: white;
    display: block;
    height: 500px;
    h3 {
        font-size: 14px;
    }
    li {
        font-size: 16px;
    }
}
#work {
    width: 80vw;
    left: 10vw;
    top: 330vh;
    height: 1300px;
    padding: 24px;

    .work-container {
        display: flex;
        flex-direction: column;
        span{
            color: $dark-span;
            font-size: 14px;
        }
        p{
            font-size: 18px;
        }
        a{
            font-size: 20px;
        }
    }
    #work-cont {
        position: relative;
        padding: 16px;
        background: $background-color;
        width: 90%;
        left: 5%;
        height: 300px;
        line-height: 34px;
        font-size: 10px;
        margin-top: 40px;
        img{
            position: absolute;
            width: 30px;
            top: 5px;
            right: 5px;
        }
    }
} 
#contact {
    position: relative;
    width: 80vw;
    left: 10vw;
    height: 500px;
}
}

@media (max-width: 600px) {
    .main-container {

        .main-text{

            left: 0;
            h1 {
                font-size: 60px;
                line-height: 60px;
            }
    
            .name{
                color: $light-span;
                letter-spacing: 0;
                position: absolute;
                top: -14%;
            }
            .occ{
                position: relative;
                top: 50%;
                color: $title;
                letter-spacing: 0;
                // animation: fadeIn2 2s;
            }
            }
            .rotate {
                position: absolute;
                left: 10px;
                margin-top: -200px;
                p {
                    font-family: $incon;
                    transform: rotate(0deg);
                    color: $light-span;
                    font-size: 20px;
                }
                
            }
        
            .contact-button {
                position: absolute;
                margin-top: 60px;
                left: 10px;
            }
    }
    .social {
        right: 5px;
        bottom: -160px;
    }
    #contact {
        position: relative;
        width: 100vw;
        left: 0;
        height: 500px;
        z-index: 100;
        h1{
            position: relative;
            left: -12px;
        }
        h2{
            position: relative;
            top: 80px;
        }
    }
}

@media (max-width: 450px) {
    #about {
        display: flex;
        flex-direction: column;
        left: 10vw;
        width: 80vw;
        top: 120vh;
        height: 900px;
        .about-1 {
            width: 100%;
            h1{
                font-size: 30px;
            }
            p{
                color: white;
                font-size: 16px;
            }
        }
        .about-image {
            width: 200px;
            height: 200px;
        }
        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: #44C360;
            width: 100%;
            position: relative;
            top: 10px;
            p{
                font-size: 12px;
            }
        }
}
#skills {
    display: flex;
    left: 10vw;
    width: 80vw;
    top: 260vh;
    color: white;
    display: block;
    height: 500px;
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 14px;
        position: relative;
        left: -12px;
        text-decoration: underline;
    }
    li {
        position: relative;
        left: -50px;
        list-style: none;
        font-size: 16px;
    }
    .skills-line{
        top: 100px;
    }
}
    #work {
        width: 80vw;
        left: 10vw;
        top: 330vh;
        height: 1300px;
        padding: 24px;
    
        .work-container {
            display: flex;
            flex-direction: column;
            span{
                color: $dark-span;
                font-size: 14px;
            }
            p{
                font-size: 14px;
            }
            a{
                font-size: 18px;
            }
        }
        #work-cont {
            position: relative;
            padding: 16px;
            background: $background-color;
            width: 90%;
            left: 5%;
            height: 300px;
            line-height: 34px;
            font-size: 10px;
            margin-top: 40px;
            img{
                position: absolute;
                width: 30px;
                top: 5px;
                right: 5px;
            }
        }
    } 
    .space {
        width: 100px;
        height: 100px;
        // background-color: #44C360;
        position: absolute;
        left: calc(50% - 50px);
    }
    
    #about1 {
        top: 110%;
    }
    #skills1 {
        top: 250%;
    }
    #work1 {
        top: 350%;
    }
    #contact1 {
        top: 500%;
    }
    .social {
        right: 8px;
    }
}

@media (max-width: 400px) {
    .main-container {

        .main-text{

            left: 0;
            h1 {
                font-size: 50px;
                line-height: 50px;
            }
    
            .name{
                color: $light-span;
                letter-spacing: 0;
                position: absolute;
                top: -5%;
            }
            .occ{
                position: relative;
                top: 50%;
                color: $title;
                letter-spacing: 0;
                // animation: fadeIn2 2s;
            }
            }
            .rotate {
                position: absolute;
                left: 5px;
                margin-top: -180px;
                p {
                    font-family: $incon;
                    transform: rotate(0deg);
                    color: $light-span;
                    font-size: 20px;
                }
                
            }
        
            .contact-button {
                position: absolute;
                margin-top: 40px;
                left:5px;
            }
    }
    #about {
        padding: 20px;
        display: flex;
        flex-direction: column;
        left: 10vw;
        width: 80vw;
        top: 120vh;
        height: 800px;
        .about-1 {
            width: 100%;
            h1{
                font-size: 30px;
            }
            p{
                color: white;
                font-size: 16px;
            }
        }
        .about-image {
            width: 200px;
            height: 200px;
        }
        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: #44C360;
            width: 100%;
            position: relative;
            top: 10px;
            p{
                font-size: 12px;
            }
        }
}
#skills {

    .skills-line{
        display: none;
    }
}
#work {
    width: 80vw;
    left: 10vw;
    top: 360vh;
    height: 1300px;
    padding: 24px;

    .work-container {
        display: flex;
        flex-direction: column;
        span{
            color: $dark-span;
            font-size: 12px;
        }
        p{
            font-size: 12px;
        }
        a{
            font-size: 16px;
        }
    }
    #work-cont {
        position: relative;
        padding: 16px;
        background: $background-color;
        width: 90%;
        left: 5%;
        height: 300px;
        line-height: 34px;
        font-size: 10px;
        margin-top: 40px;
        img{
            position: absolute;
            width: 20px;
            top: 5px;
            right: 5px;
        }
    }
} 
#contact {
    top: 460vh;
    .contact-social-links {
        img {
            width: 30px;
        }
        .s2, .s3, .s4 {
            margin-left: 50px;
         }
    }
    h2 span {
        font-size: 16px;
    }
}
.social {
    right: 5px;
}
.space {
    width: 100px;
    height: 100px;
    // background-color: #44C360;
    position: absolute;
    left: calc(50% - 50px);
}

#about1 {
    top: 110vh;
}
#skills1 {
    top: 250vh;
}
#work1 {
    top: 350vh;
}
#contact1 {
    top: 600vh;
}
.social {
    right: 8px;
}
}